- const links = [{ url: "/", link: "Home" },{ url: "/about", link: "About" },{ url: "/features", link: "Features" },{ url: "/contact", link: "Contact" }];

- const nav = `flex justify-between items-center py-2`;

- const logo = `flex gap-2`;

- const logoSVG = `w-8 fill-blackish`;

- const navList = `hidden md:flex gap-16`;

nav(class=nav)#navigation
  a(href="/", class=logo)
    svg(viewBox="0 0 23 35", class=logoSVG)
      path#logo(
        d="M11.0263 2.49333C15.7303 2.49333 19.5566 6.32233 19.5566 11.0263C19.5566 15.7303 15.7293 19.5561 11.0263 19.5561C6.3201 19.5561 2.49277 15.7298 2.49277 11.0263C2.49277 6.32284 6.32016 2.49333 11.0263 2.49333ZM11.0263 0C4.936 0 0 4.93545 0 11.0258C0 17.1139 11.0263 35 11.0263 35C11.0263 35 22.0521 17.114 22.0521 11.0258C22.0526 4.93545 17.1156 0 11.0263 0ZM13.8507 7.1271C13.2561 6.5913 12.3163 6.29129 11.0367 6.29129C9.99339 6.29129 9.17558 6.38225 8.54882 6.48674V16.4061H9.84531V12.3832C10.1437 12.4595 10.4998 12.4731 10.8875 12.4731C12.1546 12.4731 13.2561 12.1001 13.9553 11.371C14.4638 10.8499 14.7328 10.1338 14.7328 9.22669C14.7312 8.33208 14.3865 7.60244 13.8507 7.1271ZM10.9174 11.4303C10.4851 11.4303 10.1268 11.3993 9.8442 11.3258V7.42438C10.0685 7.36396 10.4987 7.31876 11.065 7.31876C12.4802 7.31876 13.4336 7.95912 13.4336 9.30025C13.4342 10.656 12.4807 11.4303 10.9174 11.4303Z"
      )
    span Rocklin <br/> Industrial Parking

  ul(class=navList)
    each item in links
      li
        a(href="home")= item.link
